.venv/
__pycache__/
*.pyc
.pytest_cache/
.coverage
htmlcov/
/data/
!/data/
/data/raw/
/data/processed/
/data/hf_cache/
/results/
*.tiff
*.tif
*.zarr
.DS_Store
.idea/
.vscode/
*.egg-info/
build/
dist/
